.grid-container {
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr;
  grid-template-areas: "navbar main";
  grid-gap: 30px;
}
.navbar {
  grid-area: navbar;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  margin: 0 10px 0 0;
  height: 100%;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  margin: 15px 0;
  border-top: 1px solid grey;
}
#nav-title {
  font-size: 1.3em;
}

#main-doc {
  margin-top: 20px;
  grid-area: main;
}

header {
  font-family: monospace, serif;
  font-size: 1.7em;
}

.main-section {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid grey;
}

p {
  font-family: monospace, serif;
}
h2 {
  font-size: 1.3em;
  font-family: monospace, serif;
  font-weight: 300;
}
pre {
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: darkblue;
}

li {
  font-family: monospace, serif;
}
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "main";
  }
  .navbar {
    position: inherit;
    border-bottom: 3px solid grey;
  }
  .nav-link {
    text-align: center;
  }

  header {
    text-align: center;
  }
  #nav-title {
    font-family: monospace, serif;
    font-size: 2em;
  }
}

@media screen and (min-width: 601px) {
  .navbar {
    border-right: 3px solid grey;
  }
}
